{% extends "base.html" %}

{% block title %} Companies {% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        #content {
            padding-left :10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Our Current Companies</h1>
        <ul>
        {% for company in companies  %}
            <li><a href="jobs/{{company}}"> {{company}} </a> </li>
        {% endfor %}
        </ul>
        <div class="panel  panel-default col-sm-12"> 

                <div class="panel-body">
            Last update: {{ timestamp }} 
                </div>
        </div>
{% endblock %}